@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("./reset.scss");
@import url("./stories.scss");
@import url("./features.scss");
@import url('./header.scss');
@import url("./pricing.scss");

.hero-cont {
  position: relative;
  width: 100%;
  @apply sm:flex sm:flex-row-reverse sm:h-[730px] lg:h-[830px];

  .gradient-line {
    background: linear-gradient(
      90deg,
      rgba(255, 197, 147, 1) 0%,
      rgba(188, 113, 152, 1) 35%,
      rgba(90, 119, 255, 1) 100%
    );
    height: 6px;
    width: 128px;
    position: absolute;
    top: 0;

    @apply sm:-left-[60px] sm:top-[363px] sm:rotate-90 lg:top-[413px];

  }

  .hero-text-cont {
    position: relative;
    width: 100%;
    padding: 72px 24px 72px 33px;
    background-color: black;
    color: white;

    @apply sm:flex sm:justify-center sm:items-center sm:w-[495px] lg:max-w-[610px];

    .hero-text-title {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      /* or 125% */

      letter-spacing: 3.33333px;
      text-transform: uppercase;

      color: #ffffff;
      margin-bottom: 16px;
    }
    .hero-text-body {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */

      color: #ffffff;

      mix-blend-mode: normal;
      opacity: 0.6;

      margin-bottom: 16px;
    }

    .hero-text-invite {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height */

      letter-spacing: 2px;

      color: #ffffff;
    }
  }
}

.hero-cont-two {
  width: 100%;
  @apply sm:flex sm:h-[490px] ;

  .hero-text-cont {
    position: relative;
    width: 100%;
    padding: 72px 24px 72px 33px;
    background-color: white;
    @apply sm:flex sm:justify-center sm:items-center sm:max-w-[495px] lg:max-w-[610px];


    .hero-text-title {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 40px;
      /* or 125% */

      letter-spacing: 3.33333px;
      text-transform: uppercase;

      color: black;
      margin-bottom: 16px;
    }
    .hero-text-body {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */
      color: black;
      mix-blend-mode: normal;
      opacity: 0.6;
      margin-bottom: 16px;
    }

    .hero-text-invite {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      /* identical to box height */
      letter-spacing: 2px;
      color: black;
    }
  }
}

.hero-stories-cont {
  width: 100%;
  object-fit: cover;
  @apply lg:flex;
  .cont-one {
    @apply sm:flex;
    width: 100%;
    object-fit: cover;
  }
  .cont-two {
    @apply sm:flex;
    width: 100%;
    object-fit: cover;
  }
  .story {
    @apply sm:hover:-translate-y-6 sm:ease-in-out sm:duration-300;
    position: relative;
    width: 100%;
    cursor: pointer;
    z-index: 10;

    img {
      @apply min-h-[500px];
    }
    .img-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.0001) 0.27%,
        rgba(0, 0, 0, 0.661222) 100%
      );
    }

    .story-text {
      position: absolute;
      z-index: 10;
      bottom: 40px;
      width: 100%;
      padding: 0 33px;

      .story-title {
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height, or 139% */
        color: #ffffff;
        margin-bottom: 4px;
      }

      .story-author {
        font-family: DM Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 17px;
        /* identical to box height */
        color: #ffffff;
      }

      .read-story {
        font-family: DM Sans;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        /* identical to box height */
        letter-spacing: 2px;
        color: #ffffff;
        border-top: 1px solid rgba(255, 255, 255, 0.25);
        margin-top: 16px;
        padding-top: 20px;
      }
    }
  }
}

.hero-features {
  padding: 80px 32px 80px 33px;
  @apply lg:flex lg:items-baseline lg:justify-center;
  .feature-cont {
    @apply flex flex-col justify-center items-center lg:max-w-[350px];
    .feature-title {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 25px;
      /* identical to box height, or 139% */

      text-align: center;

      color: #000000;
      margin-top: 48.15px;
    }
    .feature-body {
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */
      text-align: center;
      color: #000000;
      mix-blend-mode: normal;
      opacity: 0.6;
      margin-top: 16px;
    }
  }
}

.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  padding: 56px 33px;
  position: relative;
  @apply sm:min-h-[284px];
  .footer-logo{
    @apply sm:absolute sm:top-[64px] sm:left-[33px];
  }
  .footer-socials {
    margin-top: 32px;
    @apply sm:absolute sm:bottom-[64px] sm:left-[33px];

  }

  .footer-links {
    margin-top: 30px;
    @apply sm:absolute sm:top-[64px] sm:left-[33px] lg:top-[20px] lg:left-[279px];



    li {
      margin-top: 19px;
      @apply sm:mr-[26px];
    }
  }

  .footer-invite {
    display: flex;
    align-items: center;
    margin-top: 119px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #ffffff;

    @apply sm:absolute sm:-top-[50px] sm:right-[33px];
  }

  .footer-copyright {
    margin-top: 34px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;
    @apply sm:absolute sm:bottom-[64px] sm:right-[33px];

  }
}
